.jumbotron {
       background-color: #BDBDBD;
       padding: : 0px;
       background-size: cover;
       height: 800px;
       font-family: 'Righteous', cursive;
}

.montxt {
	padding-top: 150px;
    padding-left: 150px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.corp {
	display: flex;
	justify-content: space-between;
}